#intro {
    text-align: center;
    background-image: url("https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/h_img.jpg?raw=true");
    color: white;
    padding-top: 100px;
    margin: 40px 40px 40px 40px;
    background-size: cover;
}

#dela {
    padding-bottom: 50px;
}

#mouse {
    margin-top: 300px;
    margin-bottom: 100px;
}

.about {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    margin: 20px 20px 20px 20px;
}

#services {
    background-image: url("https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/s_image.jpg?raw=true");
    color: white;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
    margin: 20px 20px 20px 20px;
}

.portfolio {
    padding-bottom: 70px;
    padding-top: 50px;
}

.contact {
    padding: 100px 100px 100px 100px;
    margin: 20px 20px 20px 20px;
    background-image: url("https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/c_image.jpg?raw=true");
    color: white;
    text-align: center;
}

#img1,
#img2,
#img3,
#img4,
#img5,
#img6,
#img7,
#img8 {
    padding-left: 10px;
    padding-right: 10px;
}

.row {
    padding-bottom: 30px;
}

h2,
h1 {
    font-weight: bold;
}

.what {
    padding-top: 70px;
    padding-bottom: 50px;
}

#move {
    text-align: center;
}

textarea {
    resize: none;
}

#name,
#email,
#area {
    background-color: transparent;
}

.hide-in {
    display: none;
}

.hide-in1 {
    display: none;
}